<html>
  <head>
    <meta charset='utf-8' />
    <title>Stocks</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'
      integrity='sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css'
      integrity='sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <link rel='stylesheet' href='/main.css' />
  </head>
  <body>
    <nav>
      <div class='row'>
        <h1 class='title two columns'>Stocks!</h1>

        <a href='/' class='nav ten columns'><h2>Home</h2></a>
      </div>
    </nav>
    <main class='container'>
      {{{body}}}
    </main>
  </body>
</html>