<table class="u-full-width" id="stock-list">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Close</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {{#each stocks}}
    <tr>
    <td>{{symbol}}</td>
    <td>${{close}}</td>
    <td><a href="/stocks/{{symbol}}">{{symbol}} details</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>