<form class="form" action="/historical" method="post">
  <div class="row">
    <label class="u-full-width" for="historicalSearch">Get historical data from Yahoo Finance</label>
    <input type="text" class="u-full-width" placeholder="AAPL AMZN GOOGL TSLA ..." name="historicalSearch" id="historicalSearch"></input>
    <label class="add-currency">
      <input type="checkbox" name="addCurrencyHistorical">
      <span class="label-body">Add NZD/USD?</span>
    </label>
    
    <input class="button-primary" type="submit" value="Submit">
  </div>
</form>