<form class="form" action="/" method="post">
  <div class="row">
    <label class="u-full-width" for="addStocks">Get stock data from Yahoo Finance</label>
    <input type="text" class="u-full-width" placeholder="AAPL AMZN GOOGL TSLA ..." name="search" id="addStocks"></input>
    <label class="add-currency">
      <input type="checkbox" name="addCurrency">
      <span class="label-body">Add NZD/USD?</span>
    </label>
    <input class="button-primary" type="submit" value="Submit">
  </div>
</form>